.calc{
	margin-top: 50px;
	margin-left: 50px;
	border: 7px solid #aeaeae;
	padding: 20px 40px;
}
#final_price{
	font-size: 40px;
	font-weight: 900px;
}
.card-images{
	padding-top: 50px;
}
.card-images img{
	display: none;

}
#card1{
	display: inline-block;
}